<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EAEmployeeSuite">
    <parameter name="url" value="http://eaapp.somee.com/"/>
    <parameter name="username" value="admin"/>
    <parameter name="password" value="password"/>
    <parameter name="browser" value="chrome"/>

    <test name="LoginTests">
        <parameter name="signInPageTitle" value="Sign In — EA Employee App"/>
        <classes>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>

    <test name="EmployeeTests">
        <parameter name="employeePageTitle" value="Employee List - EAEmployee"/>
        <parameter name="empname" value="Sarah Johnson"/>
        <parameter name="partialempname" value="Sarah"/>
        <classes>
            <class name="tests.EmployeeListPageTest"/>
        </classes>
    </test>

    <test name = "CreateNewEmployeeTest">
        <parameter name="createNewEmployeePageTitle" value="Create Employee - EAEmployee"/>
        <classes>
            <class name="tests.CreateNewEmployeeTest"/>
        </classes>
    </test>
</suite>

<!--<suite name="AutomationTestingPractice">-->
<!--    <test name="">-->
<!--        <classes>-->
<!--            <class name=""></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->